<div class="row">
    <div class="col-md-10">
        <h3>Formas de  Pagamento</h3>
    </div>
    <div class="col-md-2 text-end">
        <button id="cadastrar" name="cadastrar" type="button" class="btn btn-success" routerLink="../form"  >Cadastrar</button>
    </div>
</div>
<hr>
<table class="table datatable">
    <thead>
        <tr>
            <th width="10%" class="text-center" scope="col">#</th>
            <th width="69%" scope="col">Descrição</th>
            <th width="3%"  scope="col"></th>
            <th width="3%"  scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forma_pagamento of dados">
            <td class="text-center" scope="row"><a href="#">01</a></td>
            <td scope="row"><a href="#" class="text-primary"> {{ forma_pagamento.descricao }}</a></td>
            <td scope="row">
                <button type="button" class="btn btn-primary " (click)="editar(forma_pagamento.indice)"><i class="bi bi-pencil-fill"></i></button>
            </td>
            <td scope="row">
                <button type="button" class="btn btn-danger" (click)="excluir(forma_pagamento.indice)"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
