<div class="row">
    <div class="col">
        <h1>Categoria</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" 
        style="float: right;margin-bottom:10px ;"
        routerLink="../form"
        >Novo</button>
    </div>
</div>




<table class="table table-bordered datatable">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="#">1   </a></th>
        <td>Madeira</td>
        <td><a href="#" class="text-primary"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="#" class="bi bi-trash-fill"></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">2</a></th>
        <td>Plástico</td>
        <td><a href="#" class="text-primary"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="#" class="bi bi-trash-fill"></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">3</a></th>
        <td>Epoxi</td>
        <td><a href="#" class="text-primary"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="#" class="bi bi-trash-fill"></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#">4</a></th>
        <td>Metal</td>
        <td><a href="#" class="text-primar"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="#" class="bi bi-trash-fill"></a></td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>